POSTGRES_PORT=5433
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database

BASE_DOMAIN=http://localhost:3000/

EXPIRATION_URL=5
SIZE_RANDOM_STRING=5

REDIS_PASSWORD=12345
REDIS_PORT=6379
REDIS_TTL=2592000